.text-banner-div {
    width: 200%;
    position: absolute;
    top: -12.5%;

    @include mq($tabletWide) {
        top: -30%;
    }

    .banner {
        overflow: hidden;
        position: relative;

        div {
            transform:translateX(100%);
            animation: marquee 30s linear infinite;

            &:nth-of-type(2) {
                animation: marqueeRight 30s linear infinite;
            }

            &:nth-of-type(3) {
                animation: marquee 25s linear infinite;
            }
        }
    }

}


.banner-text {
    color: #FEC10D;
    // position: relative;
    text-transform: uppercase;
    // width: auto;
    white-space: nowrap;
    font-family: Rozha;
    font-size: 3.75rem;
    letter-spacing: 0.0125;
    font-weight: 700;
    line-height: 3rem;
    // transform:translateX(100%);
    // animation: marquee 1s linear infinite;

    @include mq($tabletWide) {
        font-size: 6.5rem;
        line-height: 5.25rem;
    }
}


@keyframes marquee {
    0% {
    transform: translateX(0%);
    }
    100% {
    transform: translateX(-200%);
    }
}

@keyframes marqueeRight {
    0% {
    transform: translateX(-200%);
    }
    100% {
    transform: translateX(0%);
    }
}

.banner div:hover{
    animation-play-state: paused; 
}

