section.philosophy {
    padding: 0 2rem;

    @include mq($desktop) {
        .main-content-philosophy {
            display: flex;
            flex-direction: row-reverse;
        }
    }
    figure {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: -15%;
    }
    .hoyne-ethos {
        width: 90%;
        margin: 0 auto;
    }

    @include mq($tabletWide) {
    .text-content-philosophy {
        padding: 0rem 2rem;

        p {
            max-width: 70%;
        }
    }
}

    .philosophy-video {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}